/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  background-color: #FAFAFA;
}

main {
  width: 100%;
}

/* Container */
#main-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
@media screen and (max-width: 450px) {
  #main-container {
    margin-top: 0;
    width: 100%;
  }
}

#banner-container, #form-container {
  flex: 1 1 0;
  width: 50%;
}

#banner-container {
  text-align: right;
}
#banner-container img {
  margin-right: -15px;
}
@media screen and (max-width: 450px) {
  #banner-container {
    display: none;
  }
}

#form-container {
  text-align: center;
}
@media screen and (max-width: 450px) {
  #form-container {
    border: none;
    width: 100%;
  }
}

/* Form Login */
#form-box, #register-container {
  background-color: #fff;
  border: 1px solid #DBDBDB;
  width: 350px;
  margin-top: 30px;
}
@media screen and (max-width: 450px) {
  #form-box, #register-container {
    border: none;
    width: 100%;
  }
}
#form-box #logo-insta, #register-container #logo-insta {
  width: 175px;
  height: 51px;
  margin: 30px auto 12px;
  background-color: #FFF;
}
#form-box #login-form, #register-container #login-form {
  margin-top: 20px;
}
#form-box #login-form input, #register-container #login-form input {
  display: block;
  font-size: 12px;
  padding: 12px 9px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  width: 268px;
  margin: 5px auto;
}
#form-box #login-form input[type=submit], #register-container #login-form input[type=submit] {
  background-color: #B2DFFC;
  color: #FFF;
  margin-top: 15px;
  border-radius: 5px;
  height: 30px;
  border-color: #B2DFFC;
  font-size: 13px;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  position: relative;
}
.separator .line {
  border-top: 1px solid #DBDBDB;
  width: 268px;
  margin: 25px auto 35px;
}
.separator .line span {
  position: absolute;
  text-transform: uppercase;
  color: #DBDBDB;
  width: 50px;
  top: -6px;
  left: 50%;
  margin-left: -25px;
  font-weight: bold;
}

#facebook-login {
  margin-bottom: 25px;
}
#facebook-login a {
  text-decoration: none;
  color: #385185;
  display: flex;
  align-items: center;
  justify-content: center;
}
#facebook-login img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#facebook-login span {
  font-weight: bold;
  font-size: 13px;
  margin-top: 1px;
}

#forgot-pass {
  margin-bottom: 20px;
  font-size: 12px;
}
#forgot-pass a {
  text-decoration: none;
  color: #373799;
}

#register-container {
  margin-top: 10px;
  padding: 25px;
}
#register-container p {
  font-size: 14px;
  color: #262626;
}
#register-container a {
  color: #4a95f6;
  font-weight: bold;
  text-decoration: none;
}

#get-app-container {
  text-align: center;
  width: 350px;
}
@media screen and (max-width: 450px) {
  #get-app-container {
    border: none;
    width: 100%;
  }
}
#get-app-container p {
  margin: 20px;
  font-size: 13px;
}
#get-app-container a {
  text-decoration: none;
}
#get-app-container a img {
  width: 136px;
  height: 40px;
}

footer {
  text-align: left;
  width: 1000px;
  margin: 50px auto;
}
@media screen and (max-width: 450px) {
  footer {
    width: 90%;
    text-align: center;
  }
}
footer #footer-links {
  list-style: none;
}
footer #footer-links li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
}
@media screen and (max-width: 450px) {
  footer #footer-links li {
    margin-bottom: 20px;
  }
}
footer #footer-links a {
  text-decoration: none;
  color: #003768;
  font-size: 12px;
  font-weight: bold;
}
footer #footer-links #copyright {
  font-size: 12px;
  text-transform: uppercase;
  color: #8E8E8E;
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
